<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1 class="display-3">Sus cuentas</h1>

    <button class="btn btn-primary" on-click="alta">Alta Cuenta</a></button>
    <button class="btn btn-primary" on-click="atras" >Atrás</button>
    <br>
    <table class="table" style="margin-top: 1rem;">
    <thead>
      <tr>
        <th scope="col">IBAN</th>
        <th scope="col">Saldo</th>
        <th scope="col">Divisa</th>
        <th scope="col">Movimientos</th>
        <th scope="col">Borrar</th>
        <th scope="col">Cambio Divisa</th>
      </tr>
    </thead>
    <tbody>

    <template is="dom-repeat" items="{{accounts}}">
      <tr>
        <td>[[item.iban]]</td>
        <td>[[item.saldo]]</td>
        <td>[[item.divisa]]</td>
        <td><button id=[[item.id_cuenta]] class="btn btn-link" on-click="guardaCuenta"><a href="/account/[[item.id_cuenta]]/movements">Ver mis movimientos</a></button></td>
        <td>
          <button id=[[item.id_cuenta]] type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmacion" on-click="confirmacionBaja">
          Baja Cuenta</button>
        </td>
        <td>
          <button id=[[item.id_cuenta]] type="button" class="btn btn-primary" data-toggle="modal" data-target="#cambio" on-click="cambioUSD">
          Obtener Cambio</button>
        </td>
    </tr>
    </template>
  </tbody>
</table>
<!--Ventana de confirmacion de baja-->
<div class="modal" id="confirmacion" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro de que quieres eliminas la cuenta?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-danger"><a id="accion" href="" >Eliminar Cuenta</a></button>
      </div>
    </div>
  </div>
</div>
<!--Ventana de confirmacion de alta-->
<div class="modal" id="altacuenta" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Cuenta creada correctamente</p>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>-->
      </div>
    </div>
  </div>
</div>
<!--Ventana de confirmacion de cambio-->
<div class="modal" id="cambio" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Quieres obtener el cambio de saldo en?</p>
        <select class="custom-select mr-sm-2" id="selectorDivisa" on-change="cambioSelector">
        <option selected value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
      </select>
      </div>
      <input hidden type="text" id="cuenta"/>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-outline-success"><a id="change" href="" >Si</a></button>
      </div>
    </div>
  </div>
</div>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v3/users/{{usuario_id}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v3/accounts/{{usuario_id}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          id_cuenta: {
            type: Number
          },
          iban: {
            type: String
          },
          usuario_id: {
            type: Number
          },
          saldo: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }
      guardaCuenta(ev){
        console.log("cuenta " + ev.currentTarget.id);
        localStorage.setItem("cuenta",ev.currentTarget.id);
      }

      showData(data){
        if(data.detail.response[0].usuario_id == localStorage.getItem("name")){
          console.log("showData");
          console.log(data.detail.response[0]);

          this.accounts = data.detail.response;

          console.log("user_id: " + data.detail.response[0].usuario_id);
          console.log("user_id_local: " + localStorage.getItem("name"));

          //izquierda es el nombre de la propiedad y lo de la derecha el response es lo que nos viene de la API
          //this.iban = data.detail.response[0].iban;
          //this.userid = data.detail.response[0].userID;
          //this.balance = data.detail.response[0].balance;
        }else{
          window.location = "userko";
        }
      }

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        window.location = "";
      }
      confirmacionBaja(evento){
        console.log("confirmacion baja");
        console.log(evento.currentTarget.id);
        window.$(this.$.accion).attr('href',"/account/baja/"+ evento.currentTarget.id+"/"+this.usuario_id);

        window.$(this.$.confirmacion).modal('show');
      }

      cambioUSD(event){
        console.log("Cambio a USD");
        console.log(event.currentTarget.id);
        console.log(event);
        window.$(this.$.change).attr('href',"/account/cambio/"+event.currentTarget.id+"/"+this.$.selectorDivisa.value);
        window.$(this.$.cuenta).attr('value',event.currentTarget.id);

        window.$(this.$.cambio).modal('show');
      }

      cambioSelector(e){
        console.log("Entra en cambio selector");
        console.log(e.srcElement.value);
        console.log(this.$.cuenta.value)
        console.log(e);
        window.$(this.$.change).attr('href',"/account/cambio/"+this.$.cuenta.value+"/"+e.srcElement.value);
      }

      atras(e){
        console.log(e.currentTarget.baseURI);
        //../../../user/{{usuario_id}}
        window.location="/user/"+localStorage.getItem("name");
      }


      alta() {

        console.log("El usuario ha pulsado el enlace alta cuenta");

        var altaData = {
          "id_cuenta" : this.id_cuenta,
          "iban" : this.iban,
          "usuario_id" : this.usuario_id,
          "saldo" : this.saldo
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doAlta.body = JSON.stringify(altaData);
        //Generate Request para enviarlo
        this.$.doAlta.generateRequest();
        console.log("Peticion enviada");
        window.$(this.$.altacuenta).modal('show');
      }

    }
    window.customElements.define(VisorCuenta.is, VisorCuenta); //Aqui se vincula
  </script>
</dom-module>
