<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="del-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Cuenta borrada correctamente</h2><br>
    <button class="btn btn-link"><a href="../../../user/{{usuario_id}}/accounts">Volver</a></button>

    <iron-ajax auto
      id="getDelCuenta"
      url="http://localhost:3000/apitechu/v3/accounts/{{id_cuenta}}"
      method="DELETE"
      handle-as="json"
      on-response="showData">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DelCuenta extends Polymer.Element {
      static get is() { return 'del-cuenta'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          id_cuenta: {
            type: Number
          },
          usuario_id: {
            type: Number
          },
          iban: {
            type: String
          }
        };
      }

      showData(data){
        console.log("showData");

      }

    }

    window.customElements.define(DelCuenta.is, DelCuenta); //Aqui se vincula
  </script>
</dom-module>
