<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../src/css/fonts.css">
<link rel="stylesheet" href="../../src/css/home.min.css">
<dom-module id="change-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="vis-table">
        <h2 class="mo-oprods__title">Modificar Usuario</h2>
    </div>


    <form>
    </br>
    </br>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="{{nombre::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="apellido1" class="col-sm-1 col-form-label">Apellido1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="apellido1" placeholder="Primer Apellido" value="{{apellido1::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="apellido2" class="col-sm-1 col-form-label">Apellido2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="apellido2" placeholder="Segundo Apellido" value="{{apellido2::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="telefono" class="col-sm-1 col-form-label">Telefono</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" value="{{telefono::input}}" maxlength=9 >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="dni" class="col-sm-1 col-form-label">Dni</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="dni" placeholder="Dni" value="{{dni::input}}" maxlength=9 >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="direccion" class="col-sm-1 col-form-label">Direccion</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="direccion" placeholder="Direccion" value="{{domicilio::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="email" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" class="form-control" id="email" placeholder="Email" value="{{email::input}}" >
        </div>
      </div>
    </form>
    <button class="btn btn-primary" on-click="change">Guardar</button>
    <button class="btn btn-primary" on-click="atras" >Atrás</button>
  </br>
</br>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v3/users/{{id_usuario}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

    <iron-ajax
      id="doChange"
      url="http://localhost:3000/apitechu/v3/users/{{id_usuario}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ChangeUsuario extends Polymer.Element {
      static get is() { return 'change-usuario'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido1: {
            type: String
          },
          apellido2: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          telefono: {
            type: String
          },
          dni: {
            type: String
          },
          domicilio: {
            type: String
          },
          id_usuario: {
            type: Number
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.nombre = data.detail.response.nombre;
        //izquierda es el nombre de la propiedad y lo de la derecha el response es lo que nos viene de la API
        //document.getElementById('cajaNombre').value = "Hola";
        this.apellido1 = data.detail.response.apellido1;
        this.apellido2 = data.detail.response.apellido2;
        this.email = data.detail.response.email;
        this.domicilio = data.detail.response.domicilio;
        this.telefono = data.detail.response.telefono;
        this.dni = data.detail.response.dni;
        //this.email = data.detail.response.email;
      }

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        //window.location = "user/" + data.detail.response.id;
        window.location = "../userok2";
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      atras(e){
        console.log(e.currentTarget.baseURI);
        //../../../user/{{usuario_id}}
        window.location="/user/"+localStorage.getItem("name");
      }

      change() {
        console.log("El usuario ha pulsado el boton de modificar");

        var changeData = {
          "nombre" : this.nombre,
        	"apellido1" : this.apellido1,
	        "apellido2" : this.apellido2,
	        "email" : this.email,
	        "password" : this.password,
	        "telefono" : this.telefono,
	        "dni" : this.dni,
	        "domicilio" : this.domicilio
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doChange.body = JSON.stringify(changeData);
        //Generate Request para enviarlo
        this.$.doChange.generateRequest();
        console.log("Peticion enviada");
      }

    }

    window.customElements.define(ChangeUsuario.is, ChangeUsuario); //Aqui se vincula
  </script>
</dom-module>
