<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="amount-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>El cambio de divisa da un total de: [[amount]] {{currency}}</h2><br>
    <button class="btn btn-link"><a href="javascript: history.go(-1)">Volver</a></button>

    <iron-ajax auto
      id="getAmountCuenta"
      url="http://localhost:3000/apitechu/v3/accounts/{{id_cuenta}}/amount/{{currency}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AmountCuenta extends Polymer.Element {
      static get is() { return 'amount-cuenta'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          amount: {
            type: Number
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.amount = data.detail.response.amount;
        console.log("amount"+ this.id_cuenta +": " + this.amount);

        /*window.location = "../../../user/33/accounts?amount"+ this.id_cuenta +"="+this.amount +" USD";*/

      }

    }

    window.customElements.define(AmountCuenta.is, AmountCuenta); //Aqui se vincula
  </script>
</dom-module>
