<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="prueba-computed">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Hola, [[datosPersonales]]</h2>
    <h2>Tu nombre es [[nombre]]</h2>
    <h2>Tu apellido es [[apellidos]]</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PruebaComputed extends Polymer.Element {
      static get is() { return 'prueba-computed'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          datosPersonales: {
            type: String,
            computed: '_computeDatosPersonales(nombre,apellidos)',
            value: '---> VALOR POR DEFECTO COMPUTACION',
            observer:'_observerDatosPersonales'
          }
        };
      }

      //Observer complejo
      static get observers(){
        return [
        'misDatosChanged(nombre, apellidos, datosPersonales)'
        ]
      }

      misDatosChanged(nombre, apellidos, datosPersonales) {
        console.log('misDatosChanged (COMPLEX) -->');
        console.log('nombre', nombre);
        console.log('apellidos', apellidos);
      }

      //Observer simple
      _observerDatosPersonales(newValue, oldValue){
        console.log('_observerDatosPersonales');
        console.log('newValue' + newValue);
        console.log('oldValue' + oldValue);
      }

      _computeDatosPersonales(nombre,apellidos){
        console.log('nombre', nombre);
        console.log('apellidos', apellidos);
        if (nombre && apellidos){
          return `${nombre} ${apellidos}`;
          return nombre + " " + apellidos;
        }else{
          return '---';
        }
      }

    }

    window.customElements.define(PruebaComputed.is, PruebaComputed); //Aqui se vincula
  </script>
</dom-module>
