<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .prueba {
        height: 350px;
	      max-height: 90%;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<div class="prueba">
    <h2 class="mo-oprods__title">Bienvenido/a a su banco</h2>
    <input type="email" value="{{email::input}}" placeholder="Email"></input>
    <input type="password" value="{{password::input}}" placeholder="Contraseña"></input>
    <button class = "btn btn-primary" on-click="login">Login</button>
    <button class="btn btn-link"><a href="/user/alta">Hazte cliente</a></button>
    <div class= "alert alert-success" role="alert" hidden$="{{!logged}}">
    <span hidden$="{{!logged}}">Bienvenido de nuevo</span>
    </div>
</div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v3/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido1: {
            type: String
          },
          apellido2: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          },
          id_usuario: {
            type: Number
          }
        };
      }

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        this.logged = true;

        console.log("Name es " + data.detail.response.id);
        localStorage.setItem("name", data.detail.response.id);

        window.location = "user/" + data.detail.response.id;
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);

        window.location = "user/userko";
      }

      login() {
        console.log("El usuario ha pulsado el boton");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doLogin.body = JSON.stringify(loginData);
        //Generate Request para enviarlo
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario); //Aqui se vincula
  </script>
</dom-module>
