<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <h1>Sus movimientos</h1>
    <br>
    <div>
      <!--<button class="btn btn-primary" on-click="altaMovimiento" >Alta Movimiento</button>-->
        <button type="button" class="btn btn-primary" on-click="muestraAltaSimple">Reintegro/Pago</button>
        <button type="button" class="btn btn-primary" on-click="muestraAltaCompleja">Traspaso/Transferencia</button>
      <button class="btn btn-primary" on-click="atras" >Atrás</button>


    </div>
    <table class="table" style="margin-top: 1rem;">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tipo de Movimiento</th>
        <th scope="col">Categoria</th>
        <th scope="col">Importe</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>

      <template is="dom-repeat" items="{{movements}}">

      <tr>
        <td>[[item.fecha]]</td>
        <td>[[item.descripcion]]</td>
        <td>[[item.tipo_movimiento]]</td>
        <td>[[item.categoria]]</td>
        <td>[[item.importe]]</td>

    </tr>
    </template>
  </tbody>
</table>
<div class="modal" id="altaSimple" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alta Movimiento</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">

            <form>
            <div class="form-group">
                <label for="descripcionMovimiento">Descripción</label>
                <input type="text" class="form-control" id="descripcionMovimiento" placeholder="Descripcion del movimiento">
                <label for="categoriaMovimiento">Categoría</label>
                <input type="text" class="form-control" id="categoriaMovimiento"  placeholder="Indique la categoria">
                <label for="selectorTipoMovimiento">Tipo Movimiento</label>
                <select class="form-control" id="selectorTipoMovimiento">
                   <option value="reintegro">Reintegro</option>
                   <option value="pago">Pago</option>
                 </select>
                <label for="importeMovimiento">Importe</label>
                <input type="number" class="form-control" id="importeMovimiento"  placeholder="Introduzca importe">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" on-click="altaSimple">Dar de alta</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal" id="altaCompleja" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alta Movimiento Traspaso</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">

            <form id="formTrapaso">
            <div class="form-group">
                <label for="descripcionMovimiento2">Descripción</label>
                <input type="text" class="form-control" id="descripcionMovimiento2" placeholder="Descripcion del movimiento">
                <label for="categoriaMovimiento2">Categoría</label>
                <input type="text" class="form-control" id="categoriaMovimiento2"  placeholder="Indique la categoria">
                <label for="selectorTipoMovimiento2">Tipo Movimiento</label>
                <select class="form-control" id="selectorTipoMovimiento2" on-change="habilitaCampos">

                   <option value="transferencia">Transferencia</option>
                   <option value="traspaso" >Traspaso</option>
                 </select>
                 <div id="cuentaTraspaso" hidden>
                 <label for="selectorCuenta2">Cuenta</label>
                 <select class="form-control" id="selectorCuenta2">
                   <template is="dom-repeat" items="{{accounts}}" >
                    <option value=[[item.id_cuenta]]>[[item.iban]]&nbsp;[[item.saldo]][[item.divisa]]</option>
                  </template>
                  </select>
                </div>
                <div id="cuentaTransferencia" >
                  <label for="cuentaTransferencia2">IBAN destino</label>
                  <input type="text" class="form-control" id="cuentaTransferencia2"  placeholder="Indique la cuenta destino">

                </div>
                <label for="importeMovimiento2">Importe</label>
                <input type="number" class="form-control" id="importeMovimiento2"  placeholder="Introduzca importe">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" on-click="altaCompleja">Dar de alta</button>
      </div>
    </div>
  </div>
</div>
</div>

    <input hidden id="usuario_id">

    <iron-ajax auto
      id="getMovement"
      url="http://localhost:3000/apitechu/v3/accounts/{{cuenta_id}}/movements"
      handle-as="json"
      on-response="showDataMovimientos">
    </iron-ajax>
    <iron-ajax
      id="doMovimiento"
      url="http://localhost:3000/apitechu/v3/movements"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>
    <iron-ajax
      id="getCuentas"
      url="http://localhost:3000/apitechu/v3/users/{{usuario_id}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          fecha: {
            type: String
          },
          cuenta_id: {
            type: Number
          },
          importe: {
            type: Number
          },
          descripcion: {
            type: String
          },
          categoria: {
            type: String
          },
          tipo_movimiento: {
            type: String
          },
          movements: {
            type: Array
          },
          usuario_id:{
            type:Number,
            value:parseInt(localStorage.getItem("name"))
          },
          accounts: {
            type: Array
          }
        };
      }

      showDataMovimientos(data){
        console.log("showDataMovimientos");
        //console.log(data);
        localStorage.getItem("cuenta");
        console.log("cuenta "+localStorage.getItem("cuenta"));
        if(data.detail.response){
          if(data.detail.response[0].cuenta_id == localStorage.getItem("cuenta")){
            this.movements = data.detail.response;
            console.log("input de usuario "+this.$.usuario_id.value);
            console.log("Tendra este valor "+localStorage.getItem("name"));
            //localStorage.setItem("cuenta_id",this.cuenta_id);
            console.log("cuenta "+this.cuenta_id);
          }else{
            console.log("error");
            window.location = "fallo";
          }
        }else{
          console.log("error");
          window.location = "fallo";
        }



      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response[0]);

        this.accounts = data.detail.response;
        //console.log(this.usuario_id);
      }
      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        //window.location = "user/" + data.detail.response.id;
        console.log("/accounts/"+ this.cuenta_id +"/movements");
        window.location = "/account/"+ this.cuenta_id +"/movements";
      }

      muestraAltaSimple(e){
        console.log(e.currentTarget.baseURI);
        window.$(this.$.altaSimple).modal('show');
        //window.location=e.currentTarget.baseURI+"/create-movement";
      }
      altaSimple(){
        console.log("Alta simple");
        console.log(this.$.descripcionMovimiento.value);
        console.log(this.$.categoriaMovimiento.value);
        console.log(this.$.selectorTipoMovimiento.value);
        console.log(this.$.importeMovimiento.value);
        console.log(localStorage.getItem("cuenta"));
        //console.log(this.$.);
        var altaData = {
           "importe": parseInt(this.$.importeMovimiento.value),
           "cuenta_id_origen": parseInt(localStorage.getItem("cuenta")),
           "descripcion": this.$.descripcionMovimiento.value,
           "categoria": this.$.categoriaMovimiento.value,
           "tipo_movimiento": this.$.selectorTipoMovimiento.value
        };


        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doMovimiento.body = JSON.stringify(altaData);
        //Generate Request para enviarlo
        this.$.doMovimiento.generateRequest();
        console.log("Peticion enviada");

      }
      altaCompleja(){
        console.log("Alta Compleja");
        console.log(this.$.descripcionMovimiento2.value);
        console.log(this.$.categoriaMovimiento2.value);
        console.log(this.$.selectorTipoMovimiento2.value);
        console.log(this.$.selectorCuenta2.value);
        console.log(this.$.importeMovimiento2.value);
        console.log(localStorage.getItem("cuenta"));
        //console.log(this.$.);
          if(this.$.selectorTipoMovimiento2.value=="traspaso"){
        var altaData = {
           "importe": parseInt(this.$.importeMovimiento2.value),
           "cuenta_id_origen": parseInt(localStorage.getItem("cuenta")),
           "cuenta_id_destino": this.$.selectorCuenta2.value,
           "descripcion": this.$.descripcionMovimiento2.value,
           "categoria": this.$.categoriaMovimiento2.value,
           "tipo_movimiento": this.$.selectorTipoMovimiento2.value
        };
      }else if(this.$.selectorTipoMovimiento2.value=="transferencia"){
        var altaData = {
           "importe": parseInt(this.$.importeMovimiento2.value),
           "cuenta_id_origen": parseInt(localStorage.getItem("cuenta_id")),

           "descripcion": this.$.descripcionMovimiento2.value,
           "categoria": this.$.categoriaMovimiento2.value,
           "tipo_movimiento": this.$.selectorTipoMovimiento2.value
        };
      }
        //Referencia dentro del shadow DOM con id = doLogin
        console.log(altaData);
        this.$.doMovimiento.body = JSON.stringify(altaData);
        //Generate Request para enviarlo
        console.log(this.$.doMovimiento.body);
        this.$.doMovimiento.generateRequest();
        console.log("Peticion enviada");

      }
      muestraAltaCompleja(e){
        console.log(e.currentTarget.baseURI);
        console.log(this.$.getCuentas.url);
        this.$.getCuentas.generateRequest();
        //url="http://localhost:3000/apitechu/v3/{{usuario_id}}/accounts"
        window.$(this.$.altaCompleja).modal('show');
      }
      habilitaCampos(e){
        console.log(e);
          console.log(e.currentTarget);
          console.log(this.$.selectorTipoMovimiento2.value);
        if(this.$.selectorTipoMovimiento2.value=="traspaso"){
            this.$.cuentaTransferencia.hidden=true;
            this.$.cuentaTraspaso.hidden=false;
            this.$.getCuentas.generateRequest();
        }else if(this.$.selectorTipoMovimiento2.value=="transferencia"){
          this.$.cuentaTransferencia.hidden=false;
          this.$.cuentaTraspaso.hidden=true;
        }
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
      altaMovimiento(e){
        console.log(e.currentTarget.baseURI);

        window.location=e.currentTarget.baseURI+"/create-movement";
      }
      atras(e){
        console.log(e.currentTarget.baseURI);
        localStorage.setItem("cuenta","");
        window.location="/user/"+localStorage.getItem("name")+"/accounts";
      }

  }
    window.customElements.define(VisorMovimiento.is, VisorMovimiento); //Aqui se vincula
  </script>
</dom-module>
