<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="stylesheet" href="../../src/css/fonts.css">
<link rel="stylesheet" href="../../src/css/home.min.css">

<dom-module id="create-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="vis-table">
        <h2 class="mo-oprods__title">Alta de Usuario</h2>
    </div>


    <form>
    </br>
    </br>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="{{nombre::input}}" >
        </div>
      </div>
      <div class="form-group row">
          <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="apellido1" class="col-sm-1 col-form-label">Apellido1</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="apellido1" placeholder="Primer Apellido" value="{{apellido1::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="apellido2" class="col-sm-1 col-form-label">Apellido2</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="apellido2" placeholder="Segundo Apellido" value="{{apellido2::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="telefono" class="col-sm-1 col-form-label">Telefono</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" value="{{telefono::input}}" maxlength=9 >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="dni" class="col-sm-1 col-form-label">Dni</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="dni" placeholder="Dni" value="{{dni::input}}" maxlength=9 >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="direccion" class="col-sm-1 col-form-label">Direccion</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="direccion" placeholder="Direccion" value="{{domicilio::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="email" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" class="form-control" id="email" placeholder="Email" value="{{email::input}}" >
        </div>
      </div>
      <div class="form-group row">
        <label for="otro" class="col-sm-4 col-form-label"></label>
        <label for="password" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="password" placeholder="Password" value="{{password::input}}" required>
        </div>
      </div>
    </form>

    <button class="btn btn-primary" on-click="alta">Guardar</button>
    <button class="btn btn-primary" on-click="atras" >Atrás</button>
  </br>
</br>

    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/apitechu/v3/users"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateUsuario extends Polymer.Element {
      static get is() { return 'create-usuario'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido1: {
            type: String
          },
          apellido2: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          telefono: {
            type: String
          },
          dni: {
            type: String
          },
          domicilio: {
            type: String
          },
          id_usuario: {
            type: Number
          }
        };
      }

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        //window.location = "user/" + data.detail.response.id;
        window.location = "userok";
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      atras(e){
        console.log(e.currentTarget.baseURI);
        //../../../user/{{usuario_id}}
        window.location="/login";
      }

      alta() {
        console.log("El usuario ha pulsado el boton de alta");

        var altaData = {
          "nombre" : this.nombre,
        	"apellido1" : this.apellido1,
	        "apellido2" : this.apellido2,
	        "email" : this.email,
	        "password" : this.password,
	        "telefono" : this.telefono,
	        "dni" : this.dni,
	        "domicilio" : this.domicilio
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doAlta.body = JSON.stringify(altaData);
        //Generate Request para enviarlo
        this.$.doAlta.generateRequest();
        console.log("Peticion enviada");
      }

    }

    window.customElements.define(CreateUsuario.is, CreateUsuario); //Aqui se vincula
  </script>
</dom-module>
