<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../src/css/fonts.css">
<link rel="stylesheet" href="../../src/css/home.min.css">


<dom-module id="visor-usuario">
  <template>
    <style>
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; }
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <button class="btn btn-outline-info" on-click="logout" data-toggle="tooltip" data-placement="top" data-dismiss="alert" title="Logout"><i class="material-icons md-24">exit_to_app</i></button>
    <button class="btn btn-outline-info" on-click="change" data-toggle="tooltip" data-placement="top" title="Editar Usuario"><a href="/user/modifica/{{id_usuario}}"><i class="material-icons md-24">account_circle</i></a></button>
    <button id={{id_usuario}} type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmacion" on-click="confirmacionBaja">
      <a data-toggle="tooltip" data-placement="top" title="Borrar Usuario">
      <i class="material-icons md-24">delete</i></a></button>

    </br>
    <h2>Soy [[nombre]] [[apellido1]] [[apellido2]]</h2>
    <div class= "alert alert-secondary" role="alert" hidden$="{{logged}}">
    <span hidden$="{{logged}}">Adios, hasta pronto</span>
    </div>
    <!--<h3>y mi email es [[email]]</h3>-->
    <button class="btn btn-link"><a href="/user/{{id_usuario}}/accounts">Ver mis cuentas</a></button>

    <!--Ventana de confirmacion de baja-->
    <div class="modal" id="confirmacion" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Aviso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que quieres proceder a la baja como cliente?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-outline-danger" on-click="delete"><a id="accion" href="" >Si</a></button>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v3/users/{{id_usuario}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v3/logout/{{id_usuario}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

    <iron-ajax
      id="doDelete"
      url="http://localhost:3000/apitechu/v3/users/{{id_usuario}}"
      method="DELETE"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseDEL"
      on-error="showError"
      >
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          name: {
            type: String
          },
          apellido1: {
            type: String
          },
          apellido2: {
            type: String
          },
          email: {
            type: String
          },
          telefono: {
            type: Number
          },
          id_usuario: {
            type: Number
          },
          logged: {
            type: Boolean,
            value: true
          }
        };
      }

      showData(data){
        if(data.detail.response.id_usuario == localStorage.getItem("name")){

            console.log("showData");
            console.log(data.detail.response);

            console.log("user_id: " + data.detail.response.id_usuario);
            console.log("user_id_local: " + localStorage.getItem("name"));

            //izquierda es el nombre de la propiedad y lo de la derecha el response es lo que nos viene de la API
            this.nombre = data.detail.response.nombre;
            this.apellido1 = data.detail.response.apellido1;
            this.apellido2 = data.detail.response.apellido2;
            this.email = data.detail.response.email;
          }else{
            window.location = "userko";
          }
      }

      manageAJAXResponse(data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        this.logged = false;
        localStorage.setItem("name", "");

        window.location = "../login";
      }

      manageAJAXResponseDEL(data){
        console.log("manageAJAXResponseDEL");
        console.log(data.detail.response);
        localStorage.setItem("name", "");

      }

      showError(error){
        console.log("Hubo un error en logout");
        console.log(error);

        window.location = "user/userko";
      }

      logout() {
        console.log("El usuario ha pulsado el enlace logout");

        var logoutData = {
          "email" : this.email,
          "password" : this.password
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doLogout.body = JSON.stringify(logoutData);
        //Generate Request para enviarlo
        this.$.doLogout.generateRequest();
        console.log("Peticion enviada");
      }

      delete() {
        console.log("El usuario ha pulsado el enlace de baja de usuario");

        var deleteData = {
          "email" : this.email,
          "password" : this.password
        };

        //Referencia dentro del shadow DOM con id = doLogin
        this.$.doDelete.body = JSON.stringify(deleteData);
        //Generate Request para enviarlo
        this.$.doDelete.generateRequest();
        console.log("Peticion enviada");

        window.location = "login";
      }

      confirmacionBaja(evento){
        console.log("confirmacion baja usuario");
        console.log(evento.currentTarget.id);
        window.$(this.$.accion).attr('href',"/user/baja/"+ evento.currentTarget.id);
        console.log("antes del show");
        window.$(this.$.confirmacion).modal('show');
      }


    }

    window.customElements.define(VisorUsuario.is, VisorUsuario); //Aqui se vincula
  </script>
</dom-module>
