<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="prueba-computed2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--<h2>Hola, [[datosPersonales]]</h2>
    <h2>Tu nombre es [[nombre]]</h2>
    <h2>Tu apellido es [[apellidos]]</h2>-->

    <template
      is="dom-if"
      if=[[emptyProducts]]>
      No existen productos que mostrar.
    </template>

    <template is="dom-repeat" items=[[cliente.productos]] as="producto">
      <p>
        <h4>[[index]]</h4> <!--Posicion del Array-->
        <h3> Id: [[producto.id]]</h3>
        <h3> Nombre: [[producto.nombre]]</h3>
      </p>
    </br>
    </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class PruebaComputed2 extends Polymer.Element {
       static get is() { return 'prueba-computed2'; }
       static get properties() {
         return {
           nombre: {
             type: String,
             value: 'Pablo'
           },
           apellidos: {
             type: String
           },
           datosPersonales: {
             type: String,
             computed: '_computeDatosPersonales(nombre, apellidos)',
             value: '---> VALOR POR DEFECTO COMPUTACION',
             observer: '_observeDatosPersonales'
           },
           cliente: {
             type: Object,
             value: {
               nombre: '',
               apellidos: '',
               productos: [
                 //{ id: '12345', nombre: 'tarjeta oro '},
                 //{ id: '34324', nombre: 'tarjeta plata '},
                 //{ id: '5555', nombre: 'tarjeta bronce '}
               ]
             },
             emptyProducts: {
                type: Boolean,
                computed: '_computeEmptyProducts(cliente.productos.*)'
              }
             //observer: '_clienteChanged'
           }
         };
       }

       static get observers() {
         return [
           // Observer method name, followed by a list of dependencies, in parenthesis
           'misDatosChanged(nombre, apellidos, datosPersonales)',
           '_clienteChanged(cliente.productos.*)'
         ]
       }

       _computeEmptyProducts(recordChange) {
        const products = recordChange.base;
        return !products || products.length <= 0;
      }

       _clienteChanged(recordChange) {
         //console.log('observer (simple)');
         //console.log('param1', param1);
         //console.log('param2', param2);
        console.log('observer (complex)');
        console.log('recordChange', recordChange);
      }

       misDatosChanged(nombre, apellidos, datosPersonales) {
         console.log('misDatosChanged (COMPLEX) -->');
         console.log('nombre', nombre);
         console.log('apellidos', apellidos);
         console.log('datosPersonales', datosPersonales);
       }

       _observeDatosPersonales(newValue, oldValue) {
         console.log('_observeDatosPersonales (SIMPLE) -->');
         console.log('newValue', newValue);
         console.log('oldValue', oldValue);
       }

       _computeDatosPersonales(nombre, apellidos) {
         console.log('_computeDatosPersonales -->');
         console.log('nombre', nombre);
         console.log('apellidos', apellidos);

         if (nombre && apellidos) {
           return `${nombre} ${apellidos}`; // ES6 string literal
           // return nombre + ' ' + apellidos;
         }

         return '---';
       }
     }

    window.customElements.define(PruebaComputed2.is, PruebaComputed2); //Aqui se vincula
  </script>
</dom-module>
