<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="users-dm.html">

<dom-module id="my-users-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Listado de Usuarios</div>

      <template is="dom-repeat" items="[[users]]" as="user">
        <h4>[[index]]</h4>
        <h3>[[user.username]]</h3>
        <h4>[[user.email]]</h4>
      </template>
    </div>

    <users-dm id="usersDM" on-users-loaded="_handleUsers"></users-dm>

  </template>

  <script>
    class MyUsersPage extends Polymer.Element {
      static get properties() {
        return {
          users: Array
        };
      }
      static get is() { return 'my-users-page'; }

      //polymer lyfecicle ver documentacion
      ready(){
        super.ready();

        this.$.usersDM.getUsers();
      }

    _handleUsers(evt){
      var users = evt.detail;
      //this.set('users', evt.detail);
      this.set('users', users);
    }

    }

    window.customElements.define(MyUsersPage.is, MyUsersPage);
  </script>
</dom-module>
