<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">


<dom-module id="users-dm">
  <template>

  </template>

   <script>
     class UsersDM extends Polymer.Element {
       static get is() {
         return 'users-dm';
       }

       getUsers() {
              const ENDPOINT = 'https://jsonplaceholder.typicode.com/users';

              fetch(ENDPOINT)
              .then(function(response) {
                return response.json();
              }.bind(this))
              .then(function(users) {
                this.dispatchEvent(new CustomEvent('users-loaded', { detail: users }));
              }.bind(this));
       }
     }

    window.customElements.define(UsersDM.is, UsersDM);
  </script>
</dom-module>
