<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ko-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Email y/o password no validos</h2><br>
    <button class="btn btn-link"><a href="/login">Inicio</a></button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class KoUsuario extends Polymer.Element {
      static get is() { return 'ko-usuario'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(KoUsuario.is, KoUsuario); //Aqui se vincula
  </script>
</dom-module>
