<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ok-usuariochange">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Usuario modificado correctamente</h2><br>
    <button class="btn btn-link"><a href="/user/{{id_usuario}}">Inicio</a></button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class OkUsuariochange extends Polymer.Element {
      static get is() { return 'ok-usuariochange'; } //Con esto customizamos la etiqueta que despues se accede desde index.html
      static get properties() {
        return {
          id_usuario: {
            type: Number,
            value: parseInt(localStorage.getItem("name"))
          }
        };
      }
    }

    window.customElements.define(OkUsuariochange.is, OkUsuariochange); //Aqui se vincula
  </script>
</dom-module>
